<%= simple_form_for @search do |f| %>

  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <div class="input-group-btn">
          <select name="search_type" class="form-control" id="dropdown">
          	<option value="0">Search By...</option>
          	<option value="1">Device Name</option>
          	<option value="2">Manufacturer</option>
          	<option value="3">Event Description</option>
          </select>
        </div>
    	 <%= f.input :search_term, label: false,  placeholder: 'Enter search here...' %> 
      </div>
    </div>
  </div>

<% end %>
