<%= render 'form' %>

<div class="container" id="title-text">
  <span id="title-term">MEDI-SEARCH</span>
</div>

<div class="container" id="title-box"> 

    <p>Federal law requires certain medical device related adverse events to be reported to the FDA.  Using FDA OpenData, Medi-Search allows you to search these adverse events reports by manufacturer, device, and description. Go ahead! Search.</p>

</div>
